{% if breadcrumbs %}
<nav class="c-breadcrumb">
	<ol class="c-breadcrumb__list">
		{% for crumb in breadcrumbs %}
		<li class="c-breadcrumb__list-item">
			{% if forloop.last %}
			<a href="{{ crumb.url }}" class="c-breadcrumb__list-link" aria-current="page">{{ crumb.text }}</a>
			{% else %}
			<a href="{{ crumb.url }}" class="c-breadcrumb__list-link">{{ crumb.text }}</a>
			{% endif %}
		</li>
		{% endfor %}
	</ol>
</nav>

<!-- https://schema.org/BreadcrumbList -->
<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
		{% for crumb in breadcrumbs %}
		{
			"@type": "ListItem",
			"position": {{ forloop.index }},
			"name": "{{ crumb.text }}",
			"item": "{{ site.url }}{{ crumb.url }}"
		}{% unless forloop.last %},{% endunless %}
		{% endfor %}
	]
}
</script>
{% endif %}
