{% comment %}
  Page title construction
{% endcomment %}
{% if pageTitle %}
  {% assign _pageTitle = pageTitle | append: ' | ' | append: site.name %}
{% else %}
  {% assign _pageTitle = site.name %}
{% endif %}

{% comment %}
  Meta description - page specific or site default
{% endcomment %}
{% assign _pageDescription = pageDescription | default: site.description %}

{% comment %}
  Meta keywords - page specific or site default
{% endcomment %}
{% assign _pageKeywords = pageKeywords | default: site.keywords %}

{% comment %}
  OG URL construction
{% endcomment %}
{% if pageUrl %}
  {% assign _pageUrl = site.url | append: pageUrl %}
{% else %}
  {% assign _pageUrl = site.url %}
{% endif %}

<meta charset="{{ site.charset }}">
<meta name="viewport" content="{{ site.viewport }}">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="author" content="{{ site.author }}">
<meta name="keywords" content="{{ _pageKeywords }}">
<meta name="description" content="{{ _pageDescription }}">

<!-- Open Graph -->
<meta property="og:title" content="{{ pageTitle | default: site.name }}">
<meta property="og:description" content="{{ _pageDescription }}">
<meta property="og:image" content="{{ pageOgImage | default: social.og.image }}">
<meta property="og:type" content="{{ pageOgType | default: social.og.type }}">
<meta property="og:url" content="{{ _pageUrl }}">
<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:site_name" content="{{ site.name }}">

<!-- Twitter Card -->
<meta name="twitter:card" content="{{ social.twitter.card }}">
<meta name="twitter:site" content="{{ social.twitter.site }}">
<meta name="twitter:title" content="{{ pageTitle | default: site.name }}">
<meta name="twitter:description" content="{{ _pageDescription }}">
<meta name="twitter:image" content="{{ pageOgImage | default: social.og.image }}">

<title>{{ _pageTitle }}</title>

<!-- Performance optimizations -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- Fonts (async loading) -->
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap"></noscript>

<!-- Styles -->
<link rel="stylesheet" href="/assets/css/style.css">

<!-- Scripts -->
<script src="/assets/js/bundle.js" type="module"></script>